In [108]:

import pandas as pd

def cargaAlcaldes(archivo, columna, fila, cabecera):
    return pd.read_excel(archivo,
         names=cabecera, usecols=columna, skiprows=fila)



archivos = [
    ['Alcaldes_Mandato_1979_1983.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_1983_1987.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_1987_1991.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_1991_1995.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_1995_1999.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_1999_2003.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_2003_2007.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_2007_2011.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_2011_2015.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_2015_2019.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']],
    ['Alcaldes_Mandato_2019_2023.xlsx', 'D:H', 8, ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'INE', 'NOMBRE']]

]

#Inicialización do dataframe vacío
dfAlcaldes = pd.DataFrame([])

for i in range(0, len(archivos)):
    dfAlcaldes = pd.concat([dfAlcaldes,
        cargaAlcaldes(archivos[i][0], archivos[i][1], 
            archivos[i][2], archivos[i][3])]
    )

#print(dfAlcaldes)

## Comprobar Na
- df.isna().any()
## Numero de datos faltantes por columna
df.isna().sum()

In [109]:
dfAlcaldes.isna().any()
dfAlcaldes.isna().sum()

CCAA         0
PROVINCIA    0
MUNICIPIO    0
INE          0
NOMBRE       1
dtype: int64

## Eliminar todas las filas que tengan datos faltantes
- df.dropna(axis='index')

In [110]:
dfAlcaldes.fillna("X")
dfAlcaldes.isna().sum()

CCAA         0
PROVINCIA    0
MUNICIPIO    0
INE          0
NOMBRE       1
dtype: int64

### Convertir datos a minúsculas

- datos.str.lower()

### Añadir una nueva columna
- df['NuevaColumna'] = [1, 2, 3, 4]
- df.insert(loc=1, column='NuevaColumna', value=[1, 2, 3, 4])
- df2 = pd.DataFrame({'NuevaColumna': [1, 2, 3, 4]}) -> df = pd.concat([df, df2], axis=1)
- df = df.assign(NuevaColumna=[1, 2, 3, 4])

In [111]:
dfAlcaldes['nombre_minusculas'] = dfAlcaldes['NOMBRE'].str.lower()
dfAlcaldes

,CCAA,PROVINCIA,MUNICIPIO,INE,NOMBRE,nombre_minusculas
0,Andalucía,Almería,ABRUCENA,040025,"MARTINEZ LAO, JUAN","martinez lao, juan"
1,Andalucía,Almería,ADRA,040031,"SARMIENTO POSADA, PEDRO","sarmiento posada, pedro"
2,Andalucía,Almería,ALBANCHEZ,040046,"MARTOS AYBAR, RAMON","martos aybar, ramon"
3,Andalucía,Almería,ALBOLODUY,040059,"BLANES PANIAGUA, MARIANO","blanes paniagua, mariano"
4,Andalucía,Almería,ALBOX,040062,"MIRAS CARRASCO, JOSE","miras carrasco, jose"
...,...,...,...,...,...,...
8758,"Rioja, La","Rioja, La",Viniegra de Abajo,261780,Juan Ignacio Martínez Fernández,juan ignacio martínez fernández
8759,"Rioja, La","Rioja, La",Viniegra de Arriba,261793,Laura Crespi Lázaro,laura crespi lázaro
8760,"Rioja, La","Rioja, La",Zarratón,261807,Víctor Manuel Manso Ocio,víctor manuel manso ocio
8761,"Rioja, La","Rioja, La",Zarzosa,261814,José María Sáenz Blanco,josé maría sáenz blanco
8762,"Rioja, La","Rioja, La",Zorraquín,261835,José Ángel Capellán Marín,josé ángel capellán marín

In [112]:
df = dfAlcaldes['nombre_minusculas']
df

0                    martinez lao, juan
1               sarmiento posada, pedro
2                   martos aybar, ramon
3              blanes paniagua, mariano
4                  miras carrasco, jose
                     ...
8758    juan ignacio martínez fernández
8759                laura crespi lázaro
8760           víctor manuel manso ocio
8761            josé maría sáenz blanco
8762          josé ángel capellán marín
Name: nombre_minusculas, Length: 95473, dtype: object

### Quitamos los acentos gráficos

In [113]:
df = df.str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
df

0                    martinez lao, juan
1               sarmiento posada, pedro
2                   martos aybar, ramon
3              blanes paniagua, mariano
4                  miras carrasco, jose
                     ...
8758    juan ignacio martinez fernandez
8759                laura crespi lazaro
8760           victor manuel manso ocio
8761            jose maria saenz blanco
8762          jose angel capellan marin
Name: nombre_minusculas, Length: 95473, dtype: object

### Separamos los apellidos del nombre con un split usando la ','

In [114]:
df= df.str.split(r', ',n=1, expand=True)


df

                                    0        1
0                        martinez lao     juan
1                    sarmiento posada    pedro
2                        martos aybar    ramon
3                     blanes paniagua  mariano
4                      miras carrasco     jose
...                               ...      ...
8758  juan ignacio martinez fernandez     None
8759              laura crespi lazaro     None
8760         victor manuel manso ocio     None
8761          jose maria saenz blanco     None
8762        jose angel capellan marin     None

[95473 rows x 2 columns]

In [115]:
df['nombre'] = df[1]+' '+df[0]
Alcaldes = df['nombre']
Alcaldes

0             juan martinez lao
1        pedro sarmiento posada
2            ramon martos aybar
3       mariano blanes paniagua
4           jose miras carrasco
                 ...
8758                        NaN
8759                        NaN
8760                        NaN
8761                        NaN
8762                        NaN
Name: nombre, Length: 95473, dtype: object

In [121]:
Alcaldes = Alcaldes.groupby=Alcaldes.value_counts()
Alcaldes

count
1     22094
2      6072
3      2519
4      1176
5       532
6       227
7        10
8         4
12        3
9         3
13        1
Name: count, dtype: int64